html {
  box-sizing: border-box;
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  color: #36769d;
  text-decoration: underline;
  font-weight: 700;
  line-height: 19px;
  font-size: 16px;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

@media screen and (min-width: 920px) {
  section > a {
    display: none;
  }
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: black;
  background-color: white;
}

.header {
  display: flex;
  background-color: #011827;
  padding: 1.6em;
  padding-bottom: 2.2em;
}

.header-logo {
  max-width: 128px;
  max-height: 82px;
}

h1 {
  display: inline;
}

.header-title {
  color: #ffffff;
  width: 78px;
  font-size: 1.35rem;
  margin: 0 0 0 0.5rem;
  font-weight: bold;
}

@media screen and (min-width: 920px) {
  .header-title {
    width: auto;
    font-size: 2.5em;
    text-align: center;
    line-height: 3em;
  }
}

.navbar {
  display: none;
  background-color: #011827;
  padding-bottom: 22px;
}

@media screen and (min-width: 920px) {
  .navbar {
    display: block;
  }
}
.navbar-list {
  display: flex;
  justify-content: space-evenly;
}

.navbar-link:hover {
  color: #8acfe5;
}

.navbar-link {
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  margin: 1.5em;
}

.bg-img {
  max-height: 274px;
}

@media screen and (min-width: 920px) {
  .bg-img {
    max-height: 468px;
  }
}

@media screen and (min-width: 920px) {
  .btn-hamburger {
    display: none;
  }
}

.btn-hamburger {
  margin-bottom: auto;
  margin-left: auto;
  padding: 0 0 2em 2em;
  background-color: inherit;
  border: none;
  width: auto;
}

.btn-bar {
  width: 51px;
  height: 6px;
  background-color: white;
  margin: 7px 0;
  border-radius: 6px;
}

img {
  width: 100%;
}

.quote {
  display: flex;
  justify-content: center;
  margin: 4em 0;
}

.quote-article {
  max-width: 520px;
  display: none;
  margin: 0 1em;
}

.quote-article:nth-child(1) {
  display: flex;
}

.quote-img {
  max-height: 72px;
  border-radius: 50%;
}

.quote-bq {
  margin-left: 1em;
  font-size: 1.5rem;
  font-style: italic;
}
.quote-cite {
  display: block;
  margin-top: 0.3em;
  font-size: 1.125rem;
  font-style: normal;
}

@media screen and (min-width: 920px) {
  .quote-article {
    display: flex;
  }
}

@media screen and (min-width: 920px) {
  .quote-card__headshot {
    max-height: 96px;
  }
}

.popular-challenges-section {
  margin-top: 6.5em;
}

.popular-challenges-section > h2 {
  text-align: center;
  margin-bottom: 1.5em;
  font-size: 1.75em;
  font-weight: 400;
}

.container-popular-challenges {
  display: flex;
  padding: 0 2em;
  overflow: scroll;
  box-shadow: none;
}
.container-popular-challenges::-webkit-scrollbar {
  display: none;
}

.popular-challenges {
  min-width: 363px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  margin: 1.2em;
}

.hacker-room-img {
  border-radius: 8px 8px 0 0;
}

.popular-challenges-wrapper {
  padding: 1em;
}

.popular-challenges-subtitle {
  font-size: 1.75rem;
  font-weight: normal;
}

.challenges-rating {
  display: flex;
  align-items: center;
}

.challenges-rating .rating-img {
  margin: 0 0.3em;
}
.challenges-rating .rating-participants {
  margin-left: 0.5em;
  font-size: 0.875rem;
}

.rating-description {
  margin: 1.5em 0;
  font-size: 1.125rem;
}
.popular-challenges-wrapper .btn-primary-white {
  width: 180px;
  height: 44px;
  margin-left: auto;
  margin-right: 0;
  font-size: 1rem;
}

button {
  display: block;
  width: 308px;
  height: 66px;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.btn-challanges-top,
.btn-challanges {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1.2em;
}

@media screen and (min-width: 920px) {
  .btn-challanges-top,
  .btn-challanges {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 920px) {
  .btn-challanges-top {
    transform: translateY(-80%);
  }
}

.btn-primary-white {
  color: #ffffff;
  background-color: #e3170a;
}

.desktop {
  display: none;
}

@media screen and (min-width: 920px) {
  .desktop {
    display: block;
    margin-right: 17px;
  }
}

.btn-secondary-white {
  color: #011827;
  background-color: #8acfe6;
}
.btn-primary-dark {
  color: #8acfe5;
  background-color: transparent;
  border: 2px solid #8acfe6;
  margin: auto;
  margin-top: 2em;
}

.backstory {
  background-color: #011827;
  color: #ffffff;
  padding: 20% 1em;
  margin: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.backstory > p {
  max-width: 632px;
  margin: auto;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  color: white;
}

.challenges-information {
  margin-bottom: 15%;
}

.challenges-information-article {
  display: grid;
  justify-items: center;
  align-items: center;
}

.challenges-information-img {
  height: auto;
}
.challenges-information-container {
  margin: 1.75em 1em;
}

.challenges-information-subtitle {
  font-size: 2rem;
  font-weight: bold;
}
.challenges-information-description {
  font-size: 1.5rem;
  margin-top: 1em;
  margin-bottom: 2.25em;
  margin-bottom: 10%;
}

.challenges-information-container .btn-primary-white {
  margin: 1em 0;
}

@media screen and (min-width: 920px) {
  .grid1 {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 920px) {
  .grid2 {
    display: flex;
    flex-direction: row;
  }
}

.footer {
  padding: 2em 1.5em;
  background-color: #011827;
  font-weight: 400;
}

.footer-section {
  max-width: 413px;
  margin: 2em 0;
  color: white;
}
.footer-title {
  margin: 0.5em 0;
  font-size: 1.125rem;
}

ul {
  list-style: none;
}

@media screen and (min-width: 920px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
  }
}
